# SECTION 12, Set

## Frozen set

In [5]:
# Define Frozen set
mySets = frozenset({'love', 666, 333, 2, 'a', 1, 2, 'MAMT','55IW'})

# Iterate over the set
for i in mySets:
    print(i, end=", ")

1, 2, 55IW, love, 333, MAMT, 666, a,

In [11]:
res = frozenset({i<<1 for i in range(6)})
print(res)

frozenset({0, 2, 4, 6, 8, 10})

In [14]:
res = res.copy()
print(res)

frozenset({0, 2, 4, 6, 8, 10})

In [1]:
# Define Set
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1}
mySets

{(1, 2, 3), 123, '123', 3.1415, False, True, 'abc', 'love'}

In [17]:
# check the set
print('123' in mySets)
print('123' not in mySets)

True
False

In [18]:
print(len(mySets))

8

In [30]:
for i in mySets:
    print(i, type(i))

False <class 'bool'>
True <class 'bool'>
3.1415 <class 'float'>
(1, 2, 3) <class 'tuple'>
love <class 'str'>
abc <class 'str'>
123 <class 'int'>
123 <class 'str'>

In [2]:
# See if the list will fit into the
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1,['list', 2, 3, 4, 5]}

TypeError: unhashable type: 'list'

In [3]:
# Define set
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1}
res = mySets.add('Hivan')
print(mySets, '\nres:', res)

{False, True, 3.1415, 'abc', 'Hivan', (1, 2, 3), 123, '123', 'love'}
res: None

In [4]:
res = mySets.pop()
print(mySets, '\nres:', res)

{True, 3.1415, 'abc', 'Hivan', (1, 2, 3), 123, '123', 'love'}
res: False

In [5]:
res = mySets.remove('abc')
print(mySets, '\nres:', res)
res = mySets.remove('aaa')

{True, 3.1415, 'Hivan', (1, 2, 3), 123, '123', 'love'}
res: None

KeyError: 'aaa'

In [6]:
# use discard
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1}
res = mySets.discard('123')
print(mySets, f'res:{res}')
res = mySets.discard('aaa')
print(mySets, f'res:{res}')

{False, True, 3.1415, 'abc', (1, 2, 3), 123, 'love'} res:None
{False, True, 3.1415, 'abc', (1, 2, 3), 123, 'love'} res:None

In [7]:
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1}
print(mySets)
mySets.clear()
print(mySets)

{False, True, 3.1415, 'abc', (1, 2, 3), 123, '123', 'love'}
set()

In [8]:
res = mySets.update({1, 2, 3, 4, 5})
print(mySets, f'res:{res}')
res = mySets.update({2, 3, 4, 5, 6})
print(mySets, f'res:{res}')

{1, 2, 3, 4, 5} res:None
{1, 2, 3, 4, 5, 6} res:None

In [9]:
mySets = {123,'abc',False,'love',True,(1,2,3),0,3.1415,'123',1}
res = mySets.copy()
print(res)

{False, True, 3.1415, 'abc', (1, 2, 3), 123, '123', 'love'}

In [65]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

# Find the intersection of two sets
res = mySet1 & mySet2
print(res)

# Find the concatenation of two sets
res = mySet1 | mySet2
print(res)

# Find the difference between two sets
res = mySet1 - mySet2
res2 = mySet2 - mySet1
print(res)
print(res2)

# Find the set of symmetric differences between two sets
res = mySet1 ^ mySet2
print(res)

{'Python'}
{'Java', 'C', 'Rust', 'C++', 'Go', 'Python', 'Ruby', 'JavaScript', 'Swift'}
{'Go', 'Rust', 'C++', 'Swift'}
{'Java', 'C', 'Ruby', 'JavaScript'}
{'Java', 'C', 'C++', 'Swift', 'Rust', 'Go', 'Ruby', 'JavaScript'}

In [68]:
res = mySet1.intersection(mySet2)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

{'Python'}
mySet1:{'Go', 'Python', 'Rust', 'C++', 'Swift'},
mySet2:{'Java', 'C', 'Python', 'Ruby', 'JavaScript'}

In [69]:
res = mySet1.intersection_update(mySet2)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

None
mySet1:{'Python'},
mySet2:{'Java', 'C', 'Python', 'Ruby', 'JavaScript'}

In [70]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

res = mySet1.union(mySet2)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

{'Java', 'C', 'Rust', 'C++', 'Go', 'Python', 'Ruby', 'JavaScript', 'Swift'}
mySet1:{'Go', 'Python', 'Rust', 'C++', 'Swift'},
mySet2:{'Java', 'C', 'Python', 'Ruby', 'JavaScript'}

In [71]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

res = mySet1.update(mySet2)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

None
mySet1:{'Java', 'C', 'Rust', 'C++', 'Go', 'Python', 'Ruby', 'JavaScript', 'Swift'},
mySet2:{'Java', 'C', 'Python', 'Ruby', 'JavaScript'}

In [72]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

res = mySet1.difference(mySet2)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

{'Go', 'Rust', 'C++', 'Swift'}
mySet1:{'Go', 'Python', 'Rust', 'C++', 'Swift'},
mySet2:{'Java', 'C', 'Python', 'Ruby', 'JavaScript'}

In [73]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

res = mySet2.difference_update(mySet1)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

None
mySet1:{'Go', 'Python', 'Rust', 'C++', 'Swift'},
mySet2:{'Java', 'C', 'Ruby', 'JavaScript'}

In [75]:
mySet1 = {'Python','Go','Rust', 'Swift', 'C++'}
mySet2 = {'C','JavaScript', 'Ruby', 'Java', 'Python'}

res = mySet2.symmetric_difference_update(mySet1)
print(res)
print(f'mySet1:{mySet1}, \nmySet2:{mySet2}')

None
mySet1:{'Go', 'Python', 'Rust', 'C++', 'Swift'},
mySet2:{'Java', 'C', 'C++', 'Swift', 'Rust', 'Go', 'Ruby', 'JavaScript'}

In [77]:
mySet1 = {1, 2, 3, 4, 5, 6}
mySet2 = {1, 2, 3}
mySet3 = {6, 7, 8}

In [78]:
print(mySet1.issuperset(mySet2))
print(mySet2.issuperset(mySet1))
print(mySet1.issuperset(mySet3))

True
False
False

In [79]:
print(mySet1.issubset(mySet2))
print(mySet2.issubset(mySet1))
print(mySet3.issubset(mySet1))

False
True
False

In [81]:
print(mySet1.isdisjoint(mySet2))
print(mySet2.isdisjoint(mySet1))
print(mySet3.isdisjoint(mySet1))
print(mySet2.isdisjoint(mySet3))

False
False
False
True