# Section 1

In [1]:
a = 5
a = a + 's'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [2]:
class Book(object):
    
    # Defining the parameters of a class
    def __init__(self, b_id, b_name, b_store_count):
        self.b_id = b_id
        self.b_name = b_name
        self.b_store_count = b_store_count

    # Rewriting addition operations
    def __add__(self, book):
        return self.b_store_count + book.b_store_count
    
# Create two instances of the Book class
python_intro_book = Book(1, 'AI', 100)
ml_intro_book = Book(2, 'IML', 200)

# Find the total sales of the two books
sales_cnt = python_intro_book + ml_intro_book
print(sales_cnt)

300

In [3]:
print(5 // 2)
print(5 // 4.5)

2
1.0

In [4]:
print( 2 ** 3)

8

In [5]:
a = "I'm Hivan_______"
n = len(a)
if n > 10:
    print(f"{n} > 10")

16 > 10

In [6]:
if (n := len(a)) > 10:
    print(f"{n} > 10")

16 > 10

In [7]:
i = 3
print(1 < i < 3)
print(1 < i <= 3)

False
True