# SECTION 8, String

## Escape characters

In [1]:
str = '123'\
    '456'
print(str)

123456

In [16]:
str = "Time is like a knife that slashes, \nbut it has no effect on people who are not good-looking."
print(str)

Time is like a knife that slashes,
but it has no effect on people who are not good-looking.

In [17]:
str = "Time is like a knife that slashes, \rbut it has no effect on people who are not good-looking."
print(str)

but it has no effect on people who are not good-looking.

In [18]:
str = "Time is like a knife that slashes, \tbut it has no effect on people who are not good-looking."
print(str)

Time is like a knife that slashes, 	but it has no effect on people who are not good-looking.

In [19]:
str = "Time is like a knife that slashes, \bbut it has no effect on people who are not good-looking."
print(str)

Time is like a knife that slashes,but it has no effect on people who are not good-looking.

In [20]:
str = "Time is like a knife that slashes, \\nbut it has no effect on people who are not good-looking."
print(str)

Time is like a knife that slashes, \nbut it has no effect on people who are not good-looking.

In [21]:
str = r"Time is like a knife that slashes, \nbut it has no effect on people who are not good-looking."
print(str)

Time is like a knife that slashes, \nbut it has no effect on people who are not good-looking.

## String-related operations

In [22]:
str = "Praise makes good men better,"
str2 = "and bad men worse."
res = 'A proverb\n'+ str + '\n' + str2
print(res)

A proverb
Praise makes good men better,
and bad men worse.

In [23]:
str = 'Important things said three times\n' * 3
print(str)

Important things said three times
Important things said three times
Important things said three times

In [24]:
str = "Praise makes good men better,"
# Forward counting: 0123456789....
# Counting backwards: ... -9,-8,-7,-6,-5,-4,-3,-2,-1
str[-2]

'r'

In [25]:
str = 'The so-called wind in poetry comes mostly from the songs of the alleys, the so-called songs shared between men and women, each expressing their own feelings.'
print(str)
# Equivalent to
print(str[::])

The so-called wind in poetry comes mostly from the songs of the alleys, the so-called songs shared between men and women, each expressing their own feelings.
The so-called wind in poetry comes mostly from the songs of the alleys, the so-called songs shared between men and women, each expressing their own feelings.

In [26]:
print(str[6])

-

In [27]:
print(str[6:])

-called wind in poetry comes mostly from the songs of the alleys, the so-called songs shared between men and women, each expressing their own feelings.

In [28]:
print(str[6::])

-called wind in poetry comes mostly from the songs of the alleys, the so-called songs shared between men and women, each expressing their own feelings.

In [29]:
print(str[2:6])

e so

In [30]:
print(str[2:15:2])

es-aldw

In [31]:
print(str[::2])

Tes-aldwn nper oe otyfo h og ftealy,tes-aldsnssae ewe e n oe,ec xrsigteronfeig.

In [32]:
print(str[::-1])

.sgnileef nwo rieht gnisserpxe hcae ,nemow dna nem neewteb derahs sgnos dellac-os eht ,syella eht fo sgnos eht morf yltsom semoc yrteop ni dniw dellac-os ehT

## format()

In [33]:
s = 'Hivan'
str = '{} was on his way in his boat when he heard the sound of singing on the shore.'

In [34]:
s = 'Hivan'
str = '{} was on his way in his boat when he heard the sound of singing on the shore.'.format(s)
print(str)

Hivan was on his way in his boat when he heard the sound of singing on the shore.

In [35]:
s = 'Hivan'
str = '{} was on his way in his boat when he heard the sound of singing {}'.format(s, 'on the shore.')
print(str)

Hivan was on his way in his boat when he heard the sound of singing on the shore.

In [36]:
s = 'Hivan'
str = '{1} was on his way in his boat when he heard the sound of singing {0}'.format('on the shore.', s)
print(str)

Hivan was on his way in his boat when he heard the sound of singing on the shore.

In [37]:
str = '{s2} was on his way in his boat when he heard the sound of singing {s1}'.format(s1 = 'on the shore.', s2 = 'Hivan')
print(str)

Hivan was on his way in his boat when he heard the sound of singing on the shore.

In [38]:
str = 'Bold School: {0[0]}, Elegant School: {0[1]}, Rogue School: {0[3]}, Egg Yolk School: {0[2]}'.format(['Li Bai', 'Xin Qiji', 'Dali Garden', 'Hivan'])
print(str)

Bold School: Li Bai, Elegant School: Xin Qiji, Rogue School: Hivan, Egg Yolk School: Dali Garden

In [39]:
dict = {'a': 'Hivan', 'b': 'Egg Yolk School'}
str = '{a} sets sail, and suddenly hears singing on the shore {b}'.format(**dict)
print(str)

Hivan sets sail, and suddenly hears singing on the shore Egg Yolk School

In [40]:
str = f'{dict["a"]} sets sail, and suddenly hears singing on the shore {dict["b"]}'
print(str)

Hivan sets sail, and suddenly hears singing on the shore Egg Yolk School

In [41]:
str = 'What is the value of pi: {:.5f}'.format(3.1415926)
print(str)

What is the value of pi: 3.14159

## String related functions

In [42]:
str = 'I am a data product manager'
str.capitalize()

'I am a data product manager'

In [43]:
str.title()

'I Am A Data Product Manager'

In [44]:
str.upper()

'I AM A DATA PRODUCT MANAGER'

In [45]:
str.lower()

'i am a data product manager'

In [46]:
str.swapcase()

'i AM A DATA PRODUCT MANAGER'

In [47]:
print('o' in 'love')

True

In [48]:
str.isupper()

False

In [49]:
str.islower()

False

In [50]:
str.istitle()

False

In [51]:
str.isalnum()

False

In [52]:
str.isalpha()

False

In [53]:
'123'.isdigit()

True

In [54]:
' '.isspace()

True

In [55]:
'''
I am a data product manager
'''
str.startswith('a', 2)

True

In [56]:
'''
I am a data product manager
'''
print(str.endswith('a'))
print(str.endswith('a', 5, 11))
print(str.endswith('a', 1, 6))

False
True
True

## Finding and manipulating

In [57]:
str = "I am a data product manager."
print(str.find('am'))
res = str.find('am')
str[res:res+2]

2

'am'

In [58]:
print(str.find('am', 0, 4))
print(str.find('am', 4, 10))

2
-1

In [59]:
print(str.rfind('am'))
print(str.rfind('am', 0, 4))

2
2

In [60]:
print(str.count('a'))
print(str.count('a', 5, 12))

6
3

In [61]:
str.index('am')
str.index('python')

ValueError: substring not found

In [62]:
str = 'user_admin_id_123'
str.split('_')

['user', 'admin', 'id', '123']

In [63]:
str.split('_', 1)

['user', 'admin_id_123']

In [64]:
str.rsplit('_')

['user', 'admin', 'id', '123']

In [65]:
str.rsplit('_', 1)

['user_admin_id', '123']

In [66]:
str = ['user', 'admin', 'id', '123']
'_'.join(str)

'user_admin_id_123'

In [68]:
str = ' Hivan '
str.strip(' ')

'Hivan'

In [69]:
str.rstrip(' ')

' Hivan'

In [70]:
str.lstrip(' ')

'Hivan '

In [71]:
len(str)

7

In [72]:
str = 'abcabcabcabcabcabc'
str.replace('a', 'e')

'ebcebcebcebcebcebc'

In [73]:
str.replace('a', 'e', 2)

'ebcebcabcabcabcabc'