# SECTION 2

In [2]:
print ("Hello AI COMPENDIUM")

Hello AI COMPENDIUM

In [3]:
# The first one
a = 10
b = 20
print(a, b)

10 20

In [4]:
# The second one
a, b = 30, 40
print(a, b)

30 40

In [5]:
# Normal way of exchanging data
a = 10
b = 20

c = a
a = b
b = c

print(a, b)

20 10

In [6]:
# The syntactic way to define a ratio variable
a = 10
b = 20
a,b = b,a
print(a, b)

20 10

In [7]:
s = 'ilovehivan'
res = type(s)
print(res)

<class 'str'>

In [8]:
# Single and double quotes are defined
love = 'iloveyou'
hello = "Hello, world"

# Use triple quotes for large strings, generally used for large text strings, and large strings that can be line-breaking
s = '''
For example, this one
Very, very long article content.
'''

In [9]:
# Number
'''
int Integer type
float Floating point
complex Complex numbers
bool Boolean (True, False)
'''
varn = 521
varn = -1111

varn = 3.1415926

varn = 0x10 # hexadecimal

varn = b'001100111' # bytes

# complex numbers
varn = 5+6j # complex

# boolean bool
varn = True
varn = False
# print(varn,type(varn))

# Numeric types can be involved in arithmetic
a = 10
b = 20
print(a+b)

30

In [10]:
# On subscripts in lists
'''
  0 1 2 3 4
['a','b',521,'pai',3.1415926]
 -5-4-3-2-1.
'''
a = ['a','b',521,'pai',3.1415926]
print(a[-3])

521

In [11]:
vart = (1,2,3,'a','b')
# Other ways to define a tuple
vart = 1,2,3

In [12]:
# For example, you need to record data about a book Title, Author, Price,....
vard = {'title':'<Python Compendium>','author':'Hivan Du','price':'29.99'}
# print(vard,type(vard))
# {'title': '<Python Compendium>', 'author': 'Hivan Du', 'price': '29.99'} 

# Get the values in the dictionary
print(vard['title'])
# Keys in the dictionary cannot be reused or they will be overwritten
vard = {'a':10,'b':10,'c':20,'a':'aa',1:'abcdef','2':'2222'}
print(vard)

<Python Compendium>
{'a': 'aa', 'b': 10, 'c': 20, 1: 'abcdef', '2': '2222'}

In [13]:
a = {1, 2, 3, 'a'}
# Adding elements to a set
# a.add('b')
# Cannot access individual elements, but elements can be added and removed
# a.discard('a')
# print(a)
# Check if an element is in the set
# print(1 in a)

# Set operations: intersection, difference, union, symmetric difference
a = {1, 2, 3, 'a', 'b'}
b = {1, 'a', 22, 33}

print(a & b) # Intersection: {1, 'a'}
print(a - b) # Difference: {2, 3, 'b'} (elements in a but not in b)
print(a | b) # Union: {1, 2, 3, 33, 'a', 'b', 22} (all elements from both sets, with duplicates removed)
print(a ^ b) # Symmetric difference: {33, 2, 3, 'b', 22}

{1, 'a'}
{2, 3, 'b'}
{1, 2, 3, 33, 'a', 'b', 22}
{33, 2, 3, 22, 'b'}

In [14]:
a = 123
b = True  # True converts to 1 when performing arithmetic operations, and False converts to 0
print(a+b)
print(12.5+22)
print(True+3.14)

124
34.5
4.140000000000001